<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <strong>Filter</strong>
            </div>

            <div class="card-block">
                <div class="form-group">
                    <label for="Title">Title</label>
                    <input type="text" class="form-control" id="Title" placeholder="Title" ng-model="title" />
                </div>

                <div class="form-group">
                    <label for="Genre">Genre</label>
                    <select id="Genre" class="form-control" ng-model="genre" ng-init="getGenres()">
                        <option value="" selected>- None -</option>
                        <option ng-repeat="genre in genres">{{ genre.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Author">Author</label>
                    <input type="text" class="form-control" id="Author" placeholder="Author" ng-model="author" />
                </div>

                <div class="form-group">
                    <label for="Publisher">Publisher</label>
                    <input type="text" class="form-control" id="Publisher" placeholder="Publisher" ng-model="publisher" />
                </div>
            </div>
        </div>

        <div class="card">
                <div class="card-header">
                    <strong>Order by</strong>
                </div>
    
                <div class="card-block">    
                    <div class="form-group">
                        <select class="form-control" ng-model="orderBy">
                            <option value="" selected>- None -</option>
                            <option value="author">Author</option>
                            <option value="price">Price</option>
                            <option value="publisher">Publisher</option>
                            <option value="title">Title</option>
                        </select>
                    </div>
                </div>
            </div>
    </div>

    <div class="col-md-9">
        <div class="row" ng-init="getBooks()">
            <div class="col-md-3" ng-repeat="book in books | orderBy:orderBy | filter:{genre:genre} | filter:{author:author} | filter:{publisher:publisher} | filter:{title:title}">
                <div class="card">
                    <a href="#!/books/details/{{ book._id }}" ng-title="{{ book.title }}">
                        <img class="card-img-top" ng-src="{{ book.image_url }}" ng-alt="{{ book.title }}" />
                    </a>
                    
                    <div class="card-block">
                        <h6 class="card-title">{{ book.title }}</h6>
                        <p class="card-text">by {{ book.author }}</p>
                        <span class="badge badge-success">${{ book.price }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>