<div class="row" ng-init="getBook()">
    <div class="col-md-3">
        <div class="card">
            <a href="{{ book.buy_url }}" target="_blank">
                <img class="card-img-top" ng-src="{{ book.image_url }}" ng-alt="{{ book.title }}" />
            </a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <strong>{{ book.title }}</strong>
            </div>
            
            <div class="card-block">
                <p class="card-text">{{ book.description }}</p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Genre:</strong> &nbsp; {{ book.genre }}</li>
                <li class="list-group-item"><strong>Author:</strong> &nbsp; {{ book.author }}</li>
                <li class="list-group-item"><strong>Publisher:</strong> &nbsp; {{ book.publisher }}</li>
                <li class="list-group-item"><strong>Price:</strong> &nbsp; ${{ book.price }}</li>
            </ul>

            <div class="card-footer">
                <div class="btn-toolbar justify-content-between">
                    <a href="#/books" class="btn btn-outline-secondary">Back</a>
                    <a href="#!/books/edit/{{ book._id }}" class="btn btn-outline-success">Edit</a>
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-outline-danger">Delete</button>
                    <a href="{{ book.buy_url }}" target="_blank" class="btn btn-outline-primary">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                Do you really want to delete this?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" ng-click="removeBook(book._id)">Delete</button>
            </div>
        </div>
    </div>
</div>