<div class="row" ng-init="getBooks()">
    <div class="col-md-3" ng-repeat="book in books">
        <div class="card">
            <a href="#!/books/details/{{ book._id }}">
                <img class="card-img-top" ng-src="{{ book.image_url }}" ng-alt="{{ book.title }}" />
            </a>
            
            <div class="card-body">
                <h6 class="card-title">{{ book.title }}</h6>
                <p class="card-text">by {{ book.author }}</p>
                <span class="badge badge-success">${{ book.price }}</span>
                <span class="badge badge-primary">{{ book.genre }}</span>
            </div>

            <div class="card-footer">
                <a href="#!/books/details/{{ book._id }}" class="btn btn-outline-primary btn-block">View details</a>
            </div>
        </div>
    </div>
</div>