<ol class="breadcrumb">
    <li class="breadcrumb-item active">BookStore</li>
</ol>

<div class="row" ng-init="getBooks()">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <strong>Filter</strong>
            </div>

            <div class="card-block">
                <div class="form-group">
                    <label for="Title">Title</label>
                    <input type="text" class="form-control" id="Title" placeholder="Title" ng-model="title" />
                </div>

                <div class="form-group">
                    <label for="Genre">Genre</label>
                    <select id="Genre" class="form-control" ng-model="genre" ng-init="getGenres()">
                        <option value="" selected>- None -</option>
                        <option ng-repeat="genre in genres | orderBy:'name'">{{ genre.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Author">Author</label>
                    <select id="Author" class="form-control" ng-model="author" ng-init="getAuthors()">
                        <option value="" selected>- None -</option>
                        <option ng-repeat="author in authors | orderBy:'name'">{{ author.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Publisher">Publisher</label>
                    <select id="Publisher" class="form-control" ng-model="publisher">
                        <option value="" selected>- None -</option>
                        <option ng-repeat="book in books | orderBy:'publisher' track by $index">{{ book.publisher }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <strong>Order by</strong>
            </div>

            <div class="card-block">    
                <div class="form-group">
                    <select class="form-control" ng-model="orderBy">
                        <option value="" selected>- None -</option>
                        <optgroup label="Ascending">
                            <option value="author">Author</option>
                            <option value="price">Price</option>
                            <option value="publisher">Publisher</option>
                            <option value="rating">Rating</option>
                            <option value="title">Title</option>
                        </optgroup>
                        <optgroup label="Descending">
                            <option value="-author">Author</option>
                            <option value="-price">Price</option>
                            <option value="-publisher">Publisher</option>
                            <option value="-rating">Rating</option>
                            <option value="-title">Title</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3"
            ng-repeat="book in books | orderBy:orderBy | filter:{genre:genre} | filter:{author:author} | filter:{publisher:publisher} | filter:{title:title}">
                <div class="card">
                    <a href="#!/books/details/{{ book._id }}" ng-title="{{ book.title }}">
                        <img class="card-img-top" ng-src="{{ book.image_url }}" ng-alt="{{ book.title }}" />
                    </a>
                    
                    <div class="card-block">
                        <h6 class="card-title">{{ book.title }}</h6>

                        <p class="text-primary">
                            <span ng-if="book.rating > 0">&#9733;</span>
                            <span ng-if="book.rating > 1">&#9733;</span>
                            <span ng-if="book.rating > 2">&#9733;</span>
                            <span ng-if="book.rating > 3">&#9733;</span>
                            <span ng-if="book.rating > 4">&#9733;</span>
                            <span ng-if="book.rating < 5">&#9734;</span>
                            <span ng-if="book.rating < 4">&#9734;</span>
                            <span ng-if="book.rating < 3">&#9734;</span>
                            <span ng-if="book.rating < 2">&#9734;</span>
                            <span ng-if="book.rating < 1">&#9734;</span>
                        </p>

                        <span class="badge badge-primary">${{ book.price }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>